In [4]:
import os
import pandas as pd
import numpy as np

In [5]:
import pickle
with open('blacklist.pkl', 'rb') as f:
    blacklist = pickle.load(f)

blacklist_train = blacklist['train']
blacklist_valid = blacklist['valid']

In [6]:
texts_path = './data/Task2/texts'

# train_path = os.path.join(texts_path, 'train')
# valid_path = os.path.join(texts_path, 'valid')

#train_files = os.listdir(train_path)
#valid_files = os.listdir(valid_path)

label2century = {1: '17th century', 2: '18th century', 3: '19th century', 4: '20th century', 5: '21st century'}

train21 = pd.read_csv('./data/Task2/task2.1/train.csv')
valid21 = pd.read_csv('./data/Task2/task2.1/valid.csv')

train21.rename(columns={'label': 'century'}, inplace=True)
train21['file_name'] = train21['id']
train21['id'] = train21.id.str.replace('train_text', '').str.replace('.txt', '').astype(int)
train21.set_index('id', inplace=True)

valid21.rename(columns={'label': 'century'}, inplace=True)
valid21['file_name'] = valid21['id']
valid21['id'] = valid21.id.str.replace('valid_text', '').str.replace('.txt', '').astype(int)
valid21.set_index('id', inplace=True)

In [7]:
train22 = pd.read_csv('./data/Task2/task2.2/train.csv')
valid22 = pd.read_csv('./data/Task2/task2.2/valid.csv')

train22.rename(columns={'label': 'decade'}, inplace=True)
train22['file_name'] = train22['id']
train22['id'] = train22.id.str.replace('train_text', '').str.replace('.txt', '').astype(int)
train22.set_index('id', inplace=True)

valid22.rename(columns={'label': 'decade'}, inplace=True)
valid22['file_name'] = valid22['id']
valid22['id'] = valid22.id.str.replace('valid_text', '').str.replace('.txt', '').astype(int)
valid22.set_index('id', inplace=True)

print(f"Task2.2 => Train: {len(train22)}, Test: {len(valid22)}")

Task2.2 => Train: 180161, Test: 43163

In [9]:
old_texts_path = './old_data/data/Task2/texts'

old_train_path = os.path.join(old_texts_path, 'train')
old_valid_path = os.path.join(old_texts_path, 'valid')

old_train_files = os.listdir(old_train_path)
old_valid_files = os.listdir(old_valid_path)

print(f"Task2.1 => Train: {len(old_train_files)}, Test: {len(old_valid_files)}")

label2century = {1: '17th century', 2: '18th century', 3: '19th century', 4: '20th century', 5: '21st century'}

old_train21 = pd.read_csv('./old_data/data/Task2/task2.1/train.csv')
old_valid21 = pd.read_csv('./old_data/data/Task2/task2.1/valid.csv')

old_train21.rename(columns={'label': 'century'}, inplace=True)
old_train21['file_name'] = old_train21['id']
old_train21['id'] = old_train21.id.str.replace('train_text', '').str.replace('.txt', '').astype(int)
old_train21.set_index('id', inplace=True)

old_valid21.rename(columns={'label': 'century'}, inplace=True)
old_valid21['file_name'] = old_valid21['id']
old_valid21['id'] = old_valid21.id.str.replace('valid_text', '').str.replace('.txt', '').astype(int)
old_valid21.set_index('id', inplace=True)

Task2.1 => Train: 204708, Test: 54652

In [10]:
old_train22 = pd.read_csv('./old_data/data/Task2/task2.2/train.csv')
old_valid22 = pd.read_csv('./old_data/data/Task2/task2.2/valid.csv')

old_train22.rename(columns={'label': 'decade'}, inplace=True)
old_train22['file_name'] = old_train22['id']
old_train22['id'] = old_train22.id.str.replace('train_text', '').str.replace('.txt', '').astype(int)
old_train22.set_index('id', inplace=True)

old_valid22.rename(columns={'label': 'decade'}, inplace=True)
old_valid22['file_name'] = old_valid22['id']
old_valid22['id'] = old_valid22.id.str.replace('valid_text', '').str.replace('.txt', '').astype(int)
old_valid22.set_index('id', inplace=True)

print(f"Task2.2 => Train: {len(old_train22)}, Test: {len(old_valid22)}")

Task2.2 => Train: 204708, Test: 54651

In [11]:
text_path_task1 = './data/Task1/texts'
text_path_task2 = './data/Task2/texts'

print(len(os.listdir(text_path_task1)), len(os.listdir(text_path_task2)))

223324 223324

In [13]:
len(os.listdir('./data/Task2/test'))

150238

In [14]:
c = 0
for a in os.listdir(text_path_task2):
    with open(f'./data/Task2/texts/{a}', 'r') as f:
        aa = f.read()
        if 'project' in aa.lower() and 'gutenberg' in aa.lower():
            c +=1
print(c)

2379

In [82]:
decades = []
for _, x in pd.merge(train21, train22, on='id').iterrows():
    decades.append((x.century-1)*10 + (x.decade-1))

In [84]:
max(decades)

42

In [16]:
all_train = pd.merge(pd.merge(old_train21, old_train22, on='id'), pd.merge(train21, train22, on='id'), on='id')[['century_x', 'decade_x', 'century_y', 'decade_x']]

In [17]:
len(set(all_train.index)), len(set(all_train.index) - set(blacklist_train))

(25823, 25744)

In [18]:
all_train[all_train['century_x'] != all_train['century_y']]

        century_x  decade_x  century_y  decade_x
id
276076          5         1          3         1
178372          3         7          4         7
170513          3        10          4        10
207930          3         9          4         9
284752          4         2          3         2
...           ...       ...        ...       ...
129924          3         5          4         5
285422          4         2          3         2
267195          4         2          3         2
189728          3         8          4         8
271982          4         2          3         2

[6080 rows x 4 columns]

In [19]:
# Is test still the same?

os.listdir('data/Task2/test') == os.listdir('old_data/data/Task2/test/')

False

In [20]:
new_ids = train21.index.difference(old_train21.index)
new_rows = train21.loc[new_ids]
new_rows

        century   file_name
id
100001        3  100001.txt
100004        3  100004.txt
100005        3  100005.txt
100011        3  100011.txt
100012        3  100012.txt
...         ...         ...
999976        3  999976.txt
999980        4  999980.txt
999982        2  999982.txt
999989        3  999989.txt
999995        3  999995.txt

[154338 rows x 2 columns]

In [126]:
len(os.listdir('data/Task2/test')), len(os.listdir('old_data/data/Task2/test/'))

for x in tqdm(os.listdir('old_data/data/Task2/test/')):
    if x not in os.listdir('data/Task2/test'):
        continue
        
    with open(f'old_data/data/Task2/test/{x}') as f:
        d = f.read()
    with open(f"data/Task2/test/{x}") as f:
        e = f.read()
    assert d == e

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 150809/150809 [48:47<00:00, 51.52it/s]

In [23]:
len(set(os.listdir('old_data/data/Task2/test/')) - set(os.listdir('data/Task2/test')))

571